<h1>Shorten your url</h1>
<%= form_for(@url) do |f| %>
  <% if @url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url.errors.count, "error") %> prohibited this url from being saved:</h2>

      <ul>
      <% @url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :long_url %><br>
    <%= f.text_field :long_url %>
  </div>
  <div class="actions">
    <%= f.submit  "Shorten"%>
  </div>
<% end %>
<p>
 Provide a long url in the input box above and we will generate a short url for you to share with your friends.
</p>
