<h2>
  Url: <%= @url.long_url %>
</h2>

<h2>
  Shortened url: http://short.ly/<%= @url.short_url %>
</h2>
<p>
  You can share this url with all of your friends.
</p>

<p>
  <a href="/">Create Another Short Url</a>
</p>
